<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
        <div>
            Microblog:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}  {# is_anonymous property added by Flask-Login to user objects through the UserMixin class #}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}  {# assign the result of calling get_flashed_messages() to a messages variable #}
        {% if messages %}
        <ul>
            {% for message in messages %}  {# loop through messages #}
            <li>{{ message }}</li>  {# display messages #}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        <h1>Hi, {{ current_user.username }}!</h1>
        {% for post in posts %}
        <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
        {% endfor %}
        {% endblock %}
    </body>
</html>